/* reset */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;500;600;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

* button:hover {
  cursor: pointer;
}

/* Home */
.home {
  background-color: black;
  height: fit-content;
  width: 100vw;
}

.home > section {
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.home .upper-section {
  background-image: linear-gradient(160deg, #01232D 40%, #000000 70%);
}
.home > .upper-section > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2rem;
}

.home > .upper-section > nav > .text-wrapper {
  position: absolute;
  display: flex;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 1.5rem;
  font-weight: 600;
}

.home > .upper-section > nav > .text-wrapper > span {
  border-bottom: transparent 0.2rem solid;
  padding: 0 5rem;
}

.home > .upper-section > nav > .text-wrapper > span:hover{
  border-bottom: #ffffff 0.2rem solid;
}

.home > .upper-section > nav button {
  position: absolute;
  right: 2rem;
  padding: 0;
  border: 0.2rem solid transparent;
  border-radius: 2rem;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
                    linear-gradient(to bottom right, #FF44F8, #5BF33B, #685BFF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 3rem;
  width: 7rem;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
}

.home > .upper-section > nav button:hover {
  background-image: linear-gradient(white, white),
                    linear-gradient(to bottom right, #685BFF, #FF44F8, #5BF33B);
  color: #000000;
}

.home > .upper-section .find-the-imposter {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

.home > .upper-section .find-the-imposter > span {
  margin-top: 6rem;
  margin-bottom: 7%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  background-image: linear-gradient(to right, #FF2BF7, #1EC9FF, #31FF2D, #3C79FF, #D00909);
  border: 0.4rem solid transparent;
  color: white;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-size: 5.75rem;
}

.home > .upper-section .find-the-imposter button {
  width: 18rem; 
  height: 4rem;
  border: 0.35rem solid transparent;
  border-radius: 1.5rem;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
                    linear-gradient(to bottom right, #FF2BF7, #3C79FF, #31FF2D, #FEE933);
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-size: 1.75rem;
}

.home > .upper-section .find-the-imposter button:hover {
  color: white;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
                    linear-gradient(to bottom right, #31FF2D, #FEE933, #FF2BF7, #3C79FF);
}

.home .upper-middle-section {
  color: white;
}

.home .lower-middle-section {
  background-image: linear-gradient(to bottom, #01232D 25%, #000000 90%);
  display: flex;
  align-items: center;
}

.home .lower-middle-section span {
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-size: 3rem;
  width: 12rem;
  color: white;
  margin-top: 2.5rem;
  padding-left: 2.5rem;
  align-self: center;
  border-bottom: white 0.3rem dashed;
}

.home .lower-middle-section .rules {
  margin-top: 4rem;
}

.home .lower-middle-section .rules ul li{
  color: white;
  font-family: "Inter", Helvetica;
  font-size: 1.5rem;
  height: 3.5rem;
}

/* Chatroom Select */

.chatroomSelect {
  min-height: 100vh;
  height: fit-content;
  background-image: linear-gradient(to left, #ba3c96, #006f9a);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .chatroomSelect > .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chatroomSelect > .header > button {
    margin: 1rem 0 1rem 0;
  }
}

.chatroomSelect > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 2rem 0 2rem 0;
}

.chatroomSelect > .header button {
  height: 3.5rem;
  border: transparent;
  border-radius: 1rem;
  background-color: #000000;
  padding: 0.75rem 3rem 0.75rem 3rem;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 1.3rem;
  font-weight: 600;
}

.chatroomSelect > .header button:hover {
  background-color: #131313;
}

.chatroomSelect > .text-wrapper {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  background-image: linear-gradient(to right, #cb40a4, #006f9a);
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.chatroomList {
  min-height: 50vh;
  height: fit-content;
  width: 80vw;
  background-image: linear-gradient(
    to bottom right,
    rgb(45, 45, 45, 0.8),
    rgb(20, 20, 20, 0.8)
  );
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  border-radius: 2rem;
  padding: 3rem 0 3rem 0;
  margin-bottom: 25px;
}

.chatroomIcon {
  height: 10rem;
  width: 18rem;
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatroomIcon > div {
  width: 16rem;
  max-width: 16rem;
  height: 10rem;
  max-height: 10rem;
  border: 0.4rem solid transparent;
  border-radius: 2rem;
  background-image: linear-gradient(rgb(31, 31, 31), rgb(20, 20, 20)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.chatroomIcon > div > span {
  margin: 1rem 0 0 0;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 2rem;
  font-weight: 600;
}

.chatroomIcon > button {
  border: 0.2rem solid transparent;
  border-radius: 2rem;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 3rem;
  width: 7rem;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 100;
  margin-top: -1.5rem;
}

.chatroomIcon > button:hover {
  background-image: linear-gradient(rgb(234, 234, 234), rgb(234, 234, 234)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
}

/* Chatroom Create */

.chatroomCreate {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.chatroomCreate > .formWrapper {
  height: 30rem;
  width: 20rem;
  border-radius: 2.5rem;
  background-image: linear-gradient(to bottom right, #343434, #1d1d1d);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatroomCreate > .formWrapper > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatroomCreate > .formWrapper > span {
  font-family: "Inter", Helvetica;
  font-size: 1.5rem;
  color: #ffffff;
  margin: 2.5rem 0 1rem 0;
  font-weight: 600;
}

.chatroomCreate > .formWrapper input[type="text"] {
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  border: 0.2rem solid #ffffff;
  border-radius: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.chatroomCreate > .formWrapper input[type="text"]:focus {
  border: 0.2rem solid #454545;
}

.chatroomCreate button {
  height: 3rem;
  width: 7rem;
  border-radius: 1.5rem;
  margin: 0 0 1rem 0;
  border: 0.2rem solid transparent;
  border-radius: 2rem;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.chatroomCreate button:hover {
  background-image: linear-gradient(rgb(203, 203, 203), rgb(255, 255, 255)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
}

.chatroomCreate button:disabled {
  background-image: linear-gradient(rgb(203, 203, 203), rgb(255, 255, 255));
}

.chatroomCreate .cancelButton {
  margin-top: 10rem;
}

/* Chatroom Page */

.chatroomPage {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #ba3c96, #006f9a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatroomPage > .container {
  height: 90%;
  width: 60%;
  border-radius: 2rem;
  background-image: linear-gradient(
    to bottom right,
    rgb(41, 41, 41),
    rgb(17, 17, 17)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatroomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  width: 80%;
}

.chatroomHeader > span {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
}

.chatroomHeader > button {
  height: 3rem;
  width: 7rem;
  padding: 0;
  border-radius: 1.5rem;
  border: 0.2rem solid transparent;
  border-radius: 2rem;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 1rem;
  font-weight: 700;
}

.chatroomHeader button:hover {
  background-image: linear-gradient(rgb(234, 234, 234), rgb(234, 234, 234)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
}

.messageBox {
  height: 60%;
  width: 80%;
  border-radius: 1rem;
  background-color: rgb(248, 248, 248);
  justify-content: flex-end;
  padding: 5px;
  overflow-y: auto;
}

.messageBox > .message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  background-color: #ffffff;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
}

.messageBox > .message > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", Helvetica;
  font-size: 0.75rem;
}

.messageBox > .message > div > div {
  display: flex;
  flex-direction: column;
}

.messageBox > .message > div > div > span:last-child {
  font-size: 1.25rem;
}

.messageBox > .message > button {
  background-color: transparent;
  width: 2rem;
  height: 1rem;
  margin-left: 95%;
  margin-right: 5%;
}

.messageSend {
  height: 10%;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.messageSend form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageSend input[type=text] {
  padding: 0.75rem 1.25rem;
  width: 80%;
  border: 0.2rem solid #ffffff;
  border-radius: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.messageSend input[type=text]:focus {
  border: 0.2rem solid #454545;
}

.messageSend button {
  height: 2.5rem;
  width: 5.5rem;
  border-radius: 1.5rem;
  border: 0.2rem solid transparent;
  border-radius: 2rem;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 1rem;
  font-weight: 700;
}

.messageSend button:hover {
  background-image: linear-gradient(rgb(234, 234, 234), rgb(234, 234, 234)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
}

.messageSend button:disabled {
  background-image: linear-gradient(rgb(203, 203, 203), rgb(255, 255, 255));
}

.home {
  background-color: black;
  height: fit-content;
  width: 100vw;
}

.home > section {
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.home .upper-section {
  background-image: linear-gradient(160deg, #01232D 40%, #000000 70%);
}
.home > .upper-section > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2rem;
}

.home > .upper-section > nav > .text-wrapper {
  position: absolute;
  display: flex;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 1.5rem;
  font-weight: 600;
}

.home > .upper-section > nav > .text-wrapper > span {
  border-bottom: transparent 0.2rem solid;
  padding: 0 5rem;
}

.home > .upper-section > nav > .text-wrapper > span:hover{
  border-bottom: #ffffff 0.2rem solid;
}

.home > .upper-section > nav button {
  position: absolute;
  right: 2rem;
  padding: 0;
  border: 0.2rem solid transparent;
  border-radius: 2rem;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
                    linear-gradient(to bottom right, #FF44F8, #5BF33B, #685BFF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 3rem;
  width: 7rem;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
}

.home > .upper-section > nav button:hover {
  background-image: linear-gradient(white, white),
                    linear-gradient(to bottom right, #685BFF, #FF44F8, #5BF33B);
  color: #000000;
}

.home > .upper-section .find-the-imposter {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

.home > .upper-section .find-the-imposter > span {
  margin-top: 6rem;
  margin-bottom: 7%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  background-image: linear-gradient(to right, #FF2BF7, #1EC9FF, #31FF2D, #3C79FF, #D00909);
  border: 0.4rem solid transparent;
  color: white;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-size: 5.75rem;
}

.home > .upper-section .find-the-imposter button {
  width: 18rem; 
  height: 4rem;
  border: 0.35rem solid transparent;
  border-radius: 1.5rem;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
                    linear-gradient(to bottom right, #FF2BF7, #3C79FF, #31FF2D, #FEE933);
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-size: 1.75rem;
}

.home > .upper-section .find-the-imposter button:hover {
  color: white;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
                    linear-gradient(to bottom right, #31FF2D, #FEE933, #FF2BF7, #3C79FF);
}

.home .upper-middle-section {
  color: white;
}

.home .lower-middle-section {
  background-image: linear-gradient(to bottom, #01232D 25%, #000000 90%);
  display: flex;
  align-items: center;
}

.home .lower-middle-section span {
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-size: 3rem;
  width: 12rem;
  color: white;
  margin-top: 2.5rem;
  padding-left: 2.5rem;
  align-self: center;
  border-bottom: white 0.3rem dashed;
}

.home .lower-middle-section .rules {
  margin-top: 4rem;
}

.home .lower-middle-section .rules ul li{
  color: white;
  font-family: "Inter", Helvetica;
  font-size: 1.5rem;
  height: 3.5rem;
}