/* reset */
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

*::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

* button:hover {
  cursor: pointer;
}

.chatroomSelect {
  min-height: 100vh;
  height: fit-content;
  background-image: linear-gradient(to left, #ba3c96, #006f9a);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatroomSelect > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 2rem 0 2rem 0;
}

.chatroomSelect > .header button {
  height: 3.5rem;
  border: transparent;
  border-radius: 1rem;
  background-color: #000000;
  padding: 0.75rem 3rem 0.75rem 3rem;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 1.3rem;
  font-weight: 600;
}

.chatroomSelect > .header button:hover {
  background-color: #131313;
}

.chatroomSelect > .text-wrapper {
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  background-image: linear-gradient(to right, #cb40a4, #006f9a);
  color: #ffffff;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.chatroomList {
  min-height: 50vh;
  height: fit-content;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.75);
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  border-radius: 2rem;
  padding: 3rem 0 3rem 0;
  margin-bottom: 25px;
}

.chatroomIcon {
  height: 10rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatroomIcon > div {
  width: 16rem;
  height: 10rem;
  border: 0.4rem solid transparent;
  border-radius: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.chatroomIcon > div > span {
  margin: 1rem 0 0 0;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 2rem;
  font-weight: 600;
}

.chatroomIcon > div > span:last-child {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.chatroomIcon > button {
  background-color: #ffffff;
  border: 0.2rem solid transparent;
  border-radius: 2rem;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 3rem;
  width: 7rem;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  margin-top: -1.5rem;
}

.chatroomIcon > button:hover {
  background-image: linear-gradient(rgb(234, 234, 234), rgb(234, 234, 234)),
  linear-gradient(to bottom right, #44e9ff, #54ff98, #ffdb38, #ff6ed4);
}

.home {
  background-color: black;
  height: fit-content;
  width: fit-content;
}

.home > section {
  background-image: linear-gradient(160deg, #004C64, #000000 60%);
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.home > .upper-section > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2rem;
}

.home > .upper-section > nav > .text-wrapper {
  position: absolute;
  display: flex;
  color: #ffffff;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 1.5rem;
  font-weight: 700;
}

.home > .upper-section > nav > .text-wrapper > span {
  padding: 0 5rem;
}

.home > .upper-section > nav > .text-wrapper > span:hover{
  border-bottom: #ffffff 0.2rem solid;
}

.home > .upper-section > nav button {
  position: absolute;
  right: 2rem;
  padding: 0;
  background-color: #ffffff;
  border: 0.2rem solid transparent;
  border-radius: 2rem;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
                    linear-gradient(to bottom right, #BB57B7, #468C37, #6D68AB);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 3rem;
  width: 7rem;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
}

.home > .upper-section > nav button:hover {
  background-image: linear-gradient(white, white),
                    linear-gradient(to bottom right, #6D68AB, #BB57B7, #468C37);
  color: #000000;
}

.home > .upper-section .find-the-imposter {
  justify-content: center;
  height: 210px;
  width: 421px;
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}